<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding">
      Operations
    </ion-title>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="borrow">
        <ion-label>Borrow</ion-label>
      </ion-segment-button>
      <ion-segment-button value="return">
        <ion-label>Return</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container [ngSwitch]="selectedSegment">
    
    <ion-list *ngSwitchCase="'borrow'">
      <ion-item>Nathan liked your message</ion-item>
      <ion-item>Hashnode retweeted yuor article</ion-item>
      <ion-item>Marcus liked a message you're mentioned in</ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'return'">
      <ion-item>Paul mentioned you in this article</ion-item>
      <ion-item>Adrian mentioned you in a comment</ion-item>
    </ion-list>
  </ng-container>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
